<!DOCTYPE html>

<html>
    <head>
            <title>YelpCamp</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    

 <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">YelpCamp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav float-right">
                   
                 
                  <% if(!currentUser){ %>  
                    <li class="nav-item "><a class="nav-link" href="/login">Sign In</a>
                    </li>
        
                     
                     <li class="nav-item"><a class="nav-link" href="/register">Register</a>
                    </li>
                    
                    <% }else{  %>
                    <li class ="nav-item"> Welcome <%= currentUser.username%></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a>
                    </li>
                       
                   <% } %>
                  </ul>
                </div>
              </nav>
              

      
       <% if(error && error.length >0){ %> 
      
<div class ="container">
    <div class="alert alert-danger"><%=error%></div>    
</div>
 <% } %>
  
 <% if(success && success.length >0){ %>
<div class ="container">
    <div class="alert alert-success"><%=success%></div>    
</div>
 <% } %>